/* GLOBAL */
html {
    box-sizing: border-box;
    height: 100%;
    scroll-behavior: smooth;
    }

  *,
  *::before,
  *::after {
    box-sizing: inherit;
    }

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    background-color: #fff;
    color: #222;
    }

img {
    max-width: 100%;
    height: auto;
    }
:root{
  --text-decoration:none;
}

  /* CONTAINER */
.container {
    width: 100%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    }
/* FLEX CONTAINER */
.flex-container {
  display: flex;
}

  /* MAIN-CONTENT */
.main-content {
    flex-grow: 1;
    }

.section{
  margin-bottom: 80px;
}
  /* Foonts styles */
.site-title{
  margin-bottom: 30px;
  padding: 0;
  font-style: "Roboto", "Arial", sans-serif;
  font-weight: 700;
  line-height: 60px;
  font-size: 50px;
}
.site-paragraph{
  width: 450px;
  margin-bottom: 30px;
  padding: 0;
  padding-left: 40px;
  border-left:solid #888888 ;
}
.site-button{
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 38.5px;
  padding-right: 38.5px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
  background-color: #EA625C;
}
/* HEADER SECTION */
.header{
  margin-top: 30px;
  margin-bottom: 80px;
}
.header-container{
  height: 42px;
  display: flex;
  justify-content: space-between;
}
.navigation{
  display: flex;
  align-items: center;
}
.header-list{
  margin-right: 40px;
  display: flex;
  list-style: none;
}
.headerlist-item{
  width: 100%;
  padding-right: 30px;
}
.header-list:last-child{
  padding-right: 0;
}
.header-item-link{
  margin-right: 0;
  padding-right: 0;
  color: #333333;
  text-decoration: var(--text-decoration);
}
.header-link-button{
  width: 100%;
  margin-bottom:3px;
  color: #666666;
  text-decoration: var(--text-decoration);
}
.link-horizontal-roll{
  width: 153px;
  margin: 0;
  padding: 0;
  color: #333333;
}
/* HERO */
.hero-div{
  margin-right: 245px;
}
.hero-img {
  width: 567px;
  height: 565px;
  margin-right: -60px;
}
/* FEATURES */
.features{

}
.features-list{
  padding-left: 0;
  display: flex;
  list-style: none;
}
.features-list-item {
  margin-right: 80px;
}
.features-list:last-child{
  margin-right: 0;
}
.features-title{
  margin-bottom: 30px;
  text-transform: uppercase;
  font-style: "Roboto", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
}
.features-paragraph{
  width: 280px;
  margin-top: 0;
}

/* PROMO */
.promo-div{
  margin-right: 110px;
}
.promo-button{
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 90px;
  padding-right: 90px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
  background-color: #EA625C;
}

/* RUNNERS */
.runners{
  height: 830px;
  background-image: url(../img/runners.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.runners-div{
  padding-top: 125px;
  padding-left: 635px;
}
.color{
  color: #FFFFFF;
}
.runners-paragraph{
  border-left: solid #FFFFFF;
  color: #FFFFFF;
}